.card{
    border-radius: 10px;
  }
  .card-header{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  @media screen and (min-width: 320px) and (max-width: 640px){
    .card{
      min-width: 100%;
    }
  }