<div class="menu-laterale">
  
<a class="bi bi-list pnx-msg-icon" data-bs-toggle="offcanvas" href="#menuLaterale" role="button" aria-controls="menuLaterale"></a>

  <div class="offcanvas offcanvas-start" tabindex="-1" id="menuLaterale" aria-labelledby="menuLateraleLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="menuLateraleLabel">TO BE:::</h5>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      
    
    </div>
  </div>
</div>