<!-- Modal -->
<div class="modal fade" id="modalDettaglio" data-bs-backdrop="false" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="modalDettaglioLabel" aria-hidden="true" role="dialog">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalDettaglioLabel">{{dettaglio.titolo}}</h5>
            </div>
            <div class="modal-body pa-0">

              dettaglio da implementare


            </div>
            <div class="modal-footer">
                <button type="button" #closeModal class="btn btn-secondary" data-bs-dismiss="modal">Torna alla ricerca</button>
            </div>
        </div>
    </div>
</div>