<!-- Modal -->
<div class="modal fade" id="modalDettaglio" data-bs-backdrop="false" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="modalDettaglioLabel" aria-hidden="true" role="dialog">
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content">
      <div class="modal-header">
        <h5 style="color: black;">{{dettaglio.titolo}}</h5>
        <button type="button" #closeModal class="btn btn-secondary" data-bs-dismiss="modal">
          <i class="bi bi-reply-fill"></i> Torna alla ricerca</button>
      </div>
      <div class="modal-body pa-0">

        <div class="d-none d-md-block d-lg-block">

          <div class="row">
            <div class="col">
              <div class="d-flex">
                <div>
                  <div *ngFor="let img of dettaglio.imgs">
                    <div class="pt-8 pl-8">
                      <div class="box-slim cursore" (mouseenter)="copertina=img">
                        <img class="img-contain" src="assets/img/{{img}}" alt="">
                      </div>
                    </div>
                  </div>
                </div>
                <div style="width: 100%;">
                  <div class="d-flex justify-content-center">
                    <div class="box-large">
                      <img class="img-contain" src="assets/img/{{copertina}}" alt="">
                    </div>
                  </div>
                </div>
              </div>
            </div>


            <div class="col">
              dettaglio
            </div>
          </div>

        </div>
        <div class="d-block d-md-none d-lg-none d-xl-none d-xxl-none pb-80">

          <div *ngIf="dettaglio.imgs.length>0" id="carouselExampleIndicators" class="carousel carousel-dark slide"
            data-bs-ride="true" style="background-color: white;">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
              <button *ngFor="let view of dettaglio.imgs;let i = index" type="button"
                data-bs-target="#carouselExampleIndicators" [attr.data-bs-slide-to]="i+1" aria-label="Slide 2"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="assets/img/{{dettaglio.img}}" class="img-contain img-large">
              </div>
              <div *ngFor="let view of dettaglio.imgs" class="carousel-item">

                <img src="assets/img/{{view}}" class="img-contain img-large">
              </div>

            </div>

          </div>

        </div>


      </div>
      
    </div>
  </div>
</div>