<!-- Modal -->
<div class="modal fade" id="modalDettaglio" data-bs-backdrop="false" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="modalDettaglioLabel" aria-hidden="true" role="dialog">
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content">
      <div class="modal-header">
        <h5 style="color: black;">{{dettaglio.titolo}}</h5>
        <button type="button" #closeModal class="btn btn-secondary" data-bs-dismiss="modal">
          <i class="bi bi-reply-fill"></i> Torna alla ricerca</button>
      </div>
      <div class="modal-body pa-0">

        <div class="d-none d-md-block d-lg-block dettaglio-lg">

          <div class="row ma-0">
            <div class="col">
              <div class="pt-16">
                <h5>{{dettaglio.sintesi}}</h5>
              </div>

              <div class="d-flex">
                <div>
                  <div *ngFor="let img of dettaglio.imgs">
                    <div class="pt-8 pl-8">
                      <div class="box-slim cursore" (mouseenter)="copertina=img">
                        <img class="img-contain" src="assets/img/{{img}}" alt="">
                      </div>
                    </div>
                  </div>
                </div>
                <div style="width: 100%;">
                  <div class="d-flex justify-content-center">
                    <div class="box-large">
                      <img class="img-contain" src="assets/img/{{copertina}}" alt="">
                    </div>
                  </div>
                </div>
              </div>
            </div>


            <div class="col">
              <div class="pt-16">
                <h5>Informazioni su questo articolo</h5>
              </div>
              <div>
                <table class="table">
                  <thead>
                    <tr>

                    </tr>
                  </thead>
                  <tbody>

                    <tr>
                      <td class="table-info">Prezzo</td>
                      <td>{{dettaglio.prezzo}} €</td>
                    </tr>
                    <tr *ngFor="let info of dettaglio.info">
                      <td class="table-info">{{info.chiave}}</td>
                      <td>{{info.valore}}</td>
                    </tr>

                  </tbody>
                </table>
              </div>
              <div class="d-grid gap-2 pa-8 ">
                <button type="button" class="btn btn-success" data-bs-dismiss="modal"
                    (click)="setProdotto()">Aggiungi a carrello</button>
            </div>
            </div>
          </div>

        </div>
        <div class="d-block d-md-none d-lg-none d-xl-none d-xxl-none dettaglio-sm">
          <div class="pa-8">
          <div class="pt-8">
            <h6>{{dettaglio.sintesi}}</h6>
          </div>
          <div id="carouselDettaglioProdotto" class="carousel carousel-dark slide"
            data-bs-ride="carousel" style="background-color: white;">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselDettaglioProdotto" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
              <button *ngFor="let view of dettaglio.imgs;let i = index" type="button"
                data-bs-target="#carouselDettaglioProdotto" [attr.data-bs-slide-to]="i+1" aria-label="Slide 2"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active pb-32">
                <img src="assets/img/{{dettaglio.img}}" class="img-contain img-large">
              </div>
              <div *ngFor="let view of dettaglio.imgs" class="carousel-item pb-32">

                <img src="assets/img/{{view}}" class="img-contain img-large">
              </div>

            </div>

          </div>
          <div class="pt-16">
            <table class="table">
              <thead>
                <tr>

                </tr>
              </thead>
              <tbody>

                <tr>
                  <td class="table-info">Prezzo</td>
                  <td>{{dettaglio.prezzo}} €</td>
                </tr>
                <tr *ngFor="let info of dettaglio.info">
                  <td class="table-info">{{info.chiave}}</td>
                  <td>{{info.valore}}</td>
                </tr>

              </tbody>
            </table>
          </div>
          <div class="d-grid gap-2 pa-8 ">
            <button type="button" class="btn btn-success" data-bs-dismiss="modal"
                (click)="setProdotto()">Aggiungi a carrello</button>
        </div>

      </div>
    </div>


      </div>

    </div>
  </div>
</div>