<!-- Modal -->
<div class="modal fade" id="modalCarrello" data-bs-backdrop="false" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="modalCarrelloLabel" aria-hidden="true" role="dialog">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalCarrelloLabel">Carrello</h5>
            </div>
            <div class="modal-body pa-8">
                <div *ngIf="selezionati.length>0">
                    <h6 class="pt-16 pb-16">Lista Selezionata {{selezionati.length}} prodotti</h6>

                    <ol class="list-group overflow-hidden">
                        <li *ngFor="let prodotto of selezionati" class="list-group-item">
                            <div class="row">
                                <div class="col-4 col-sm-4 col-md-3 col-lg-2">

                                    <div class="overflow-hidden text-center">
                                        <img class="img-contain" src="assets/img/{{prodotto.img}}" alt="">
                                    </div>

                                    <my-quantita [prodotto]="prodotto"></my-quantita>

                                </div>
                                <div class="col-5 col-sm-5 col-md-6 col-lg-8">
                                    <div class="fw-bold">{{prodotto.titolo}}</div>
                                    {{prodotto.anticipazione}}
                                </div>
                                <div class="col-3 col-sm-3 col-md-3 col-lg-2"
                                    (click)="delProdotto(prodotto.id)">
                                    <span class="text-primary">{{prodotto.prezzo}} € </span>
                                </div>
                            </div>
                        </li>

                    </ol>


                    <div class="d-grid gap-2 pt-16 pb-8">
                        <button type="button" class="btn btn-success" (click)="acquista()">Acquista</button>
                    </div>
                    <div class="d-grid gap-2 pt-32 pb-8">
                        <button type="button" class="btn btn-danger" (click)="clearCarrello()">Svuota Carrello</button>
                    </div>
                </div>
                <div *ngIf="selezionati.length==0">
                    <h6 class="pt-16 pb-16">Nessun elemento selezionato</h6>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" #closeModal class="btn btn-secondary" data-bs-dismiss="modal">Torna alla
                    ricerca</button>
            </div>
        </div>
    </div>
</div>