<!-- Navbar Start -->
<div class="container-fluid fixed-top px-0 wow fadeIn"
    [ngClass]="{'top-45': posizione === 1,'bg-white shadow': posizione === 2,'nascosto': posizione === 3 }"
    data-wow-delay="0.1s">
    <div class="top-bar row gx-0 align-items-center d-none d-lg-flex">
        <div class="col-lg-6 px-5 text-start">
            <small><i class="bi bi-geo-alt-fill me-2"></i>123 Street, New York, USA</small>
            <small class="ms-4"><i class="bi bi-envelope-at-fill me-2"></i>info@example.com</small>
        </div>
        <div class="col-lg-6 px-5 text-end">
            <small>Follow us:</small>
            <a class="text-body ms-3" href=""><i class="bi bi-facebook"></i></a>
            <a class="text-body ms-3" href=""><i class="bi bi-twitter"></i></a>
            <a class="text-body ms-3" href=""><i class="bi bi-whatsapp"></i></a>
            <a class="text-body ms-3" href=""><i class="bi bi-instagram"></i></a>
        </div>
    </div>
    

    <my-nav-search></my-nav-search>

   
</div>
<!-- Navbar End -->

<my-back-to-top *ngIf="posizione!=0"></my-back-to-top>