<div class="container circles">


    <div class="row">
      <div class="col wow rollIn center" style="visibility: visible; animation-name: rollIn;"><img height="200"
          src="assets/wow-3.gif"></div>
      <div class="col wow pulse" data-wow-duration="0.15s" data-wow-iteration="5"
        style="visibility: visible; animation-duration: 0.15s; animation-iteration-count: 5; animation-name: pulse;">
        <p class="circle bg-green">NIKO </p>
      </div>
      <div class="col wow bounceInRight center" style="visibility: visible; animation-name: bounceInRight;"><img
          height="200" src="assets/wow-3.gif"></div>
    </div>
    <div class="row">
      <div class="col wow bounceInLeft" style="visibility: visible; animation-name: bounceInLeft;">
        <p class="circle bg-yellow">NIKOLASH </p>
      </div>
      <div class="col wow flipInX center" style="visibility: visible; animation-name: flipInX;"><img height="200"
          src="assets/wow-3.gif"></div>
      <div class="col wow bounceInRight" style="visibility: visible; animation-name: bounceInRight;">
        <p class="circle bg-purple">AOOOOOO </p>
      </div>
    </div>
    <div class="row">
      <div class="col wow rollIn center" style="visibility: hidden; animation-name: none;"><img height="200"
          src="assets/wow-3.gif"></div>
      <div class="col wow shake" data-wow-duration="0.15s" data-wow-iteration="5"
        style="visibility: hidden; animation-duration: 0.15s; animation-iteration-count: 5; animation-name: none;">
        <p class="circle bg-yellow">TEST N</p>
      </div>
      <div class="col wow swing center" data-wow-iteration="2"
        style="visibility: hidden; animation-iteration-count: 2; animation-name: none;"><img height="200"
          src="assets/wow-3.gif"></div>
    </div>
    <div class="row">
      <div class="col wow rollIn" style="visibility: hidden; animation-name: none;">
        <p class="circle bg-purple">TUTTO OK</p>
      </div>
      <div class="col wow bounceInUp center" data-wow-delay="0.5s"
        style="visibility: hidden; animation-delay: 0.5s; animation-name: none;"><img height="200" src="assets/wow-3.gif">
      </div>
      <div class="col wow lightSpeedIn" data-wow-delay="0.5s" data-wow-duration="0.15s"
        style="visibility: hidden; animation-duration: 0.15s; animation-delay: 0.5s; animation-name: none;">
        <p class="circle bg-green">INCREDIBILE </p>
      </div>
    </div>
    <div class="row">
      <div class="col wow rollIn center" style="visibility: hidden; animation-name: none;"><img height="200"
          src="assets/wow-3.gif"></div>
      <div class="col wow pulse" data-wow-duration="0.25s" data-wow-iteration="5"
        style="visibility: hidden; animation-duration: 0.25s; animation-iteration-count: 5; animation-name: none;">
        <p class="circle bg-green">OOOOOOO</p>
      </div>
      <div class="col wow lightSpeedIn center" style="visibility: hidden; animation-name: none;"><img height="200"
          src="assets/wow-3.gif"></div>
    </div>
    <div class="row">
      <div class="col wow bounce" data-wow-duration="0.15s" data-wow-iteration="5"
        style="visibility: hidden; animation-duration: 0.15s; animation-iteration-count: 5; animation-name: none;">
        <p class="circle bg-yellow">TUTTO OK</p>
      </div>
      <div class="col wow bounceInUp center" style="visibility: hidden; animation-name: none;"><img height="200"
          src="assets/wow-3.gif"></div>
      <div class="col wow bounceInRight" style="visibility: hidden; animation-name: none;">
        <p class="circle bg-yellow">nikolash</p>
      </div>
    </div>
    <div class="row">
      <div class="col wow rollIn center" style="visibility: hidden; animation-name: none;"><img height="200"
          src="assets/wow-3.gif"></div>
      <div class="col wow flip" data-wow-duration="0.15s" data-wow-iteration="5"
        style="visibility: hidden; animation-duration: 0.15s; animation-iteration-count: 5; animation-name: none;">
        <p class="circle bg-green">niko</p>
      </div>
      <div class="col wow bounceInRight center" style="visibility: hidden; animation-name: none;"><img height="200"
          src="assets/wow-3.gif"></div>
    </div>
    <div class="row">
      <div class="col wow rollIn" data-wow-delay="0.5s"
        style="visibility: hidden; animation-delay: 0.5s; animation-name: none;">
        <p class="circle bg-yellow">aleooooo</p>
      </div>
      <div class="col wow bounceInDown center" data-wow-delay="1s"
        style="visibility: hidden; animation-delay: 1s; animation-name: none;"><img height="200" src="assets/wow-3.gif">
      </div>
      <div class="col wow bounceInRight" data-wow-delay="1.5s"
        style="visibility: hidden; animation-delay: 1.5s; animation-name: none;">
        <p class="circle bg-purple">funziona </p>
      </div>
    </div>
  </div>