<div class="bg-corallo pa-16">

<div class="d-flex flex-wrap">
    
<div class="flex-normal col-6 col-sm-6 col-md-6 col-lg-2">
<div>
    <my-menu-laterale></my-menu-laterale>
</div>

<div>
    <img class="img-fluid" style="width: 100px;" src="assets/img/logo.png" alt="logo" class="logo">
</div>
</div>
<div class="col-6 col-sm-6 col-md-6 col-lg-1 order-lg-last d-flex justify-content-end">

    <button type="button" class="btn btn-transparent position-relative">
        <i class="bi bi-person-fill pnx-msg-icon"></i>
      </button>

    <button type="button" class="btn btn-transparent position-relative">
        <i class="bi bi-cart-fill pnx-msg-icon"></i>
        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
          5
          <span class="visually-hidden">unread messages</span>
        </span>
      </button>
</div>
<div class="col-12 col-sm-12 col-md-12 col-lg-9">
    <div class="input-group">
        <input type="text" class="form-control" placeholder="cerca" aria-label="cerca" aria-describedby="basic-addon2">
        <span class="input-group-text btn-success" id="basic-addon2" color="succes"><i class="bi bi-search"></i></span>
      </div>
</div>

</div>



</div>


